.body_layout{
    width: 100%;
}
.ben_bio{
    display: flex;
    flex-direction: row;
    height: auto;
}

#ben_picture{
    width: 300px;
    height: auto;
    border-radius: 20px;
    border-width: 3px;
    border-color: aqua;
    border-style:solid;
    
}
.ben_bio_info p{
    margin-left: 20px;
}
.ben_bio_info h1{
    text-align: center;
}

.music_list{
    display: block;
}
.music_list h1{
    text-align: center;

}



.info_example {
   display:  inline-block;
   width: 100vw;

}

.info_p{
    float: left;
    display: inline;
    width: 60vw;
}
.info_p p{
    margin-right: 10px;
    justify-content: center;
    text-align: justify;
    
}
.info_p #music_list_selector{
    width: 100px;
    text-align: middle;
    margin-left: auto;
    margin-right: auto;
}

.ben_video{
    float: right;
    display: inline;
    width: 40vw;
    height: 45vh;
    border-radius: 20px ;
    

}
.selector{
    display: block;
    text-align: center;
    margin-bottom: 10px;
}

@media only screen and (max-width: 600px){
    .ben_bio {
        width: 100;
        display: block;
        justify-content: center;
    }
    #ben_picture {
        display: block;
        width: 100%;
    }
    .ben_bio_info{
        display: block;
    }

    .info_example{
        display: block;
        width: 100%;
    }
    .info_p{
        display: block;
        width: 100%;
        
    }
    .ben_video{
        display: block;
        width: 100%;
    }

 
}
@media only screen and (min-width: 600px) and (max-width: 1400px){

    #ben_picture {
        height: 60%;
        vertical-align: baseline;

    }


 
}