.body_layout{

}
.ben_bio{
    display: flex;
    flex-direction: row;
    height: auto;
}
#ben_picture{
    width: 200px;
    height: auto;
    border-radius: 20px;
    border-width: 3px;
    border-color: aqua;
    border-style:solid;
}
.ben_bio p{
    margin-left: 20px;
}
.ben_video{

}
.music_list{

}
.music_list h1{
    justify-content: center;
}
.music_list p{
    text-align: center;
}
#music_list_selector{
    width: 200px;
}