

.body_layout{
    
} 
 
.review_container{
    display: block;
}

.review_1{
    background-color:rgb(133, 194, 255);
    display: flex;
    flex-direction: row;
    height: auto;
    border-radius: 20px;
}
.review_2{
    margin-top: 10px;
    background-color:rgb(247, 201, 201);
    display: flex;
    flex-direction: row;
    height: auto;
    border-radius: 20px;
}
.review_1 img{
    border-radius: 20px 40%;
    border-color: aqua;
    border-width: 5px;
    border-style: groove;
}
.review_2 img{
    border-radius: 40% 20px;
    border-color: aqua;
    border-width: 5px;
    border-style: groove;
    
}
.review_text_1 h1, .review_2 h1{
    text-align: center;
    cursor: pointer;

}
.review_text_1 p{
    margin-left: 10px;
    margin-right: 20px;
    cursor: pointer;
    color: rgb(247, 201, 201);
    font-size: 18px;
}
.review_text_2 p{
    margin-right: 20px;
    margin-left: 10px;
    cursor: pointer;
    color: rgb(110, 179, 248);
    font-size: 18px;

}

@media only screen and (max-width: 600px){
    .review_1{
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .review_1 img{
        width: 80vw;
        flex-direction: inherit;

    }
    .review_text_1{
        width: 100vw;
        flex-direction: inherit;
        font-size: 16px;
        font-family: sans-serif;
        font-style: italic;
        
    }
    .review_2{
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .review_2 img{
        width: 80vw;
        flex-direction: inherit;

    }
    .review_text_2{
        width: 100vw;
        flex-direction: inherit;
        font-size: 16px;
        font-family: sans-serif;
        font-style: italic;
        
    }
    
    
}