body{
    background-color:rgb(249, 243, 235);

}
p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

.navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40px;
    align-items: center;
    font-family: sans-serif;
    font-style: oblique;
    margin-bottom: 10px;
}

#logo_keyboard{
    width: 40px;
    border-radius: 20px;
    margin-left: 10px;
    vertical-align: middle;
}
.social_media_links img{
    width: 36px;
    border-radius: 20px;
    margin-left: 10px;
    vertical-align: middle;
}

#navigation-right-section span{
    text-align: center;
    font-family: sans-serif;
    font-style: oblique;
    font-size: 20px;
    color:rgb(33, 146, 135)
}

.navigation-select{
    margin-right: 20px;
    /* background-color: rgb(128, 226, 216); */
    text-align: center;
    font-family: sans-serif;
    font-style: oblique;
    border-radius: 10px 4px;
    font-size: 16px;
    cursor: pointer;
    border-width: 2px;
    border-color: black;
}

a{
    cursor: pointer;
    text-decoration: none;
}
.footer{
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    /* cursor: pointer; */
    font-family: sans-serif;
    font-style: oblique;
}
.footer-link{
    color: black;
}
.footer-link:hover{
    color: rgb(249, 161, 161);
}

#navigation-blog{
    margin-right: 20px;
}
#navigation-about{
    margin-right: 20px;
}
#navigation-wedding{
    margin-right: 20px;
}


.footer #header{
    font-weight: bold;
    font-size: large;
    text-align: center;
    font-family: sans-serif;
}
.footer #footer_image{
    text-align: center;
}
.footer  #footer_contact{
    font-family: sans-serif;
    font-style: italic;
    justify-content: center;
    
    padding-left: 150px;
    padding-right: 150px;
}



@media only screen and (max-width: 600px){
    .footer #footer_contact{
        font-size: 10px;
    }
}