
.intro{
    display: block;

}

.intro h1{
    text-align: center;
}

.intro article{
    text-align: center;
}

.services{
    display: flex;
    /* flex-direction: row; */
    justify-content: space-around;

}


#h1_services{
    text-align: center;
}

.service{
    margin: 0;
    display: inline-block;
    width: 300px;
    height: 430px;
    margin-left: 20px;
    margin-right: 20px;
}
.service_img{
    width: 100%;
    height: 280px;
    border-radius: 15px;
}
.service h4{
    margin: 0;
    text-align: center;
}
.service article{
    margin-top: 10px;
    justify-content: center;
}
.combo{
    display: block;
    align-items: center;
    text-align: center;
}
ol{
    display: inline-block;
    text-align: middle;
    width: 400px;
}

@media only screen and (max-width: 600px){
    .services{
        display: flex;
        width: 100%;
        flex-direction: column;
        
    }
    .service{
        align-items: baseline;
        text-align: center;
        display: block;
        width: 80%;
        margin: 0;
        margin-left: 10%;
        margin-right: 10%;
    }

}